.homepage-internal-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Optional, prevents vertical overflow */
    overflow: hidden;
}

.home-background-image {
    width: 100%;
    height: auto;
    display: block;
}

.text-area {
    position: absolute;
    width: 100%;
    top: 55%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    margin-bottom: 20px;
}

.arrow-button {
    font-size: 30px;
    color: white;
    background-color: #F9A825;
    border-radius: 50%;
    padding: 7px;
}

.arrow-button svg {
    vertical-align: inherit;
}

.get-started-text {
    font-size: 16px;
    background-color: #F9A825;
    border-radius: 30px;
    padding: 10px;
} */