/* Reset */
* {
    box-sizing: border-box;
}

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Layout Container */
.map-layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding-top: 80px;
}

/* Map section (flex-grow) */
.map-wrapper {
    flex: 1;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px;
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    border: none;
}

.map-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

.nav-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    z-index: 2;
    font-size: 25px;
    cursor: pointer;
}

.left-btn {
    left: 10px;

}

.right-btn {
    right: 10px;
}

/* Navigation Menu */
.map-nav-wrapper {
    height: 15vh;
    width: 100%;
    z-index: 2;
}


/* Responsive */
@media (min-width: 768px) {
    .map-nav-wrapper {
        height: 100px;
    }
}