/* Base layout */
* {
    box-sizing: border-box;
}

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.map-main-content-audio-location {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    padding-top: 80px;
    overflow: hidden;
}

.heritage-card {
    width: 100%;
    max-width: 440px;
    margin: auto;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.map-header-image {
    position: relative;
    width: 100%;
    flex: 1;
    border-radius: 25px;
    overflow: hidden;
    height: 400px;
    padding-bottom: 40px;
}

.map-header-image iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}

.nav-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    z-index: 2;
    font-size: 25px;
    cursor: pointer;
}

.left-btn {
    left: 10px;

}

.right-btn {
    right: 10px;
}

.title-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    z-index: 2;
    text-align: left;
}


.bottom-section-audio-and-location {
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .bottom-section-audio-and-location {
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .heritage-card {
        height: 100vh;
        width: 100vw;
        max-width: none;
        border-radius: 0;
        box-shadow: none;
        flex-direction: column;
    }

    .map-header-image {
        height: 45vh;
        border-radius: 0;
    }
}

@media (min-width: 1024px) {
    .bottom-section-audio-and-location {
        gap: 0.75rem;
    }
}