/* Audio Player */
.audio-player {
    background-color: #00695c;
    color: white;
    padding: 16px;
    border-radius: 25px;
    z-index: 1;
}

.audio-header {
    gap: 12px;
    font-size: 14px;
    margin-bottom: 12px;
}

.audio-header img {
    width: 80px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 9px 9px rgba(0, 0, 0, 0.5);
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 12px;
}

.progress-slider {
    flex: 1;
    appearance: none;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.progress-slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid #f59e0b;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    color: #F9A825;
    gap: 10px;
}

.controls .icon,
.controls button,
.controls a {
    color: #F9A825;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.play-btn {
    background-color: white;
    color: #F9A825;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 0 3px #F9A825;
    border: none;
}


@media (min-width: 768px) {
    .audio-player {
        margin-bottom: 100px;
        /* height of nav + scanner */
    }
}